//! **************************************************************************
// Written by: Map P.20131013 on Fri Jan 24 09:20:00 2020
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
COMP "sclk" LOCATE = SITE "E6" LEVEL 1;
COMP "simo" LOCATE = SITE "C5" LEVEL 1;
COMP "ssel" LOCATE = SITE "C6" LEVEL 1;
COMP "th1_L" LOCATE = SITE "C10" LEVEL 1;
COMP "th2_L" LOCATE = SITE "E10" LEVEL 1;
COMP "th1_R" LOCATE = SITE "D7" LEVEL 1;
COMP "th3_L" LOCATE = SITE "C11" LEVEL 1;
COMP "th2_R" LOCATE = SITE "D8" LEVEL 1;
COMP "th3_R" LOCATE = SITE "D10" LEVEL 1;
COMP "tl1_L" LOCATE = SITE "D11" LEVEL 1;
COMP "tl2_L" LOCATE = SITE "C12" LEVEL 1;
COMP "tl1_R" LOCATE = SITE "B4" LEVEL 1;
COMP "tl3_L" LOCATE = SITE "D12" LEVEL 1;
COMP "tl2_R" LOCATE = SITE "B5" LEVEL 1;
COMP "tl3_R" LOCATE = SITE "B6" LEVEL 1;
COMP "H3H2H1_L<0>" LOCATE = SITE "C16" LEVEL 1;
COMP "H3H2H1_L<1>" LOCATE = SITE "D16" LEVEL 1;
COMP "H3H2H1_L<2>" LOCATE = SITE "E16" LEVEL 1;
COMP "H3H2H1_R<0>" LOCATE = SITE "D5" LEVEL 1;
COMP "H3H2H1_R<1>" LOCATE = SITE "D6" LEVEL 1;
COMP "H3H2H1_R<2>" LOCATE = SITE "E7" LEVEL 1;
COMP "reset" LOCATE = SITE "M13" LEVEL 1;
PIN reset_pin<0> = BEL "reset" PINNAME PAD;
PIN "reset_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

